{% extends "layout.html" %}
{% block content %}
<main>

    <ul class="page-nav">
    </ul>

    <h2>list of books</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Authors</th>
                <th class="actions">⌘</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{book._id}}</td>
                <td>{{book.title}}</td>
                <td>{{book.authors}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}